* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    background: #F3F4F6;
    background-image: url('resources/background-image.png');
    background-size: 100vw 30vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }
  .main-page {
    width: 100vw;
    height: 100vh;
    
  }
  .back-image{
   position:relative; 
   width: 100vw;
   height: 30vh;
  }
.header-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.title-page {
    font-weight: 600;
    font-family: "Medium", sans-serif;
    margin-right: .7em;
    color: #FFFFFF;
    font-size: 1.5rem;
}
.number-items {
    font-weight: 500;
    font-family: "Bold", sans-serif;
    background-color: #1D1D1F;
    border-radius: 13px;
    color: #F3F4F6;
    padding: .4rem .8rem ;
    font-size: .7rem;
    height: 2.3em;
}

.content-main {
    width: 95vw;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 2%;
    margin-top: 3rem;
}
.checkout-body {
    display: flex;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 2%;
    box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
}
.left {
    width: 100%;
    height: fit-content;
    background: #E5E7EB;
    border-radius: 2% 0% 0% 2%;
    padding: 1em 2em;
}
.right {
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 0% 2% 2% 0%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.list-items{
    display: flex;
    flex-direction: column;
}
.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: end;
    margin-top: 1.5rem;
    padding: 0 0;
    gap: 1em;
}
.container-image-item {
    background: #FFFFFF;
    padding: 1em;
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 10%;
}
.image-item {
    align-self: center;
}
.data-left-item {
    display:grid;
    grid-template-rows: repeat(4, 1fr);

}
.count-item {
    grid-row-start: 6;
}

.data-right-item {
    grid-column-start: 4;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    place-content: flex-end;
}
.icon-delete-item {
    grid-row-start: 6;
    display: flex;
    justify-content: end
}
.name-item {
    font-weight: 700;
    font-family: "Regular", sans-serif;
}

.price-item {
    font-weight: 700;
    font-family: "Regular", sans-serif;
}
.descrition-item {
    font-weight: 500;
    font-family: "Regular", sans-serif;
}
.count-item {
    font-weight: 400;
    font-family: "Regular", sans-serif;
}
.icon-delete-item {
    font-weight: 500;
    font-family: "Medium", sans-serif;
    cursor: pointer;
}

.coupon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1em;
}

hr {
    width: 100%;
    border-color: #E5E7EB ;
    margin: 1.5em 0;
}
.input-coupon {
    grid-column-start: 1;
    grid-column-end: 3;
}
.input-coupon input {
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #394150;
    font-family: 'Regular', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid #D2D5DA;
    outline: none;
    width: 100%;
    padding: 15px;
}

.button-coupon button {
    color: #FFFFFF;
    background-color: #1D1D1F;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    font-family: 'Medium', sans-serif;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}

.total {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2em;
}
.total-label{
    font-family: 'Regular', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.total-prices {
    grid-column-start: 4;
    font-family: 'Regular', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: end;
}

.color-label-total {
    color: #394150;
}


.form-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.div-name,
.div-email,
.div-country,
.div-postal-code {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.div-address {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.div-country {
    width: 100%;
}
.div-postal-code {
    width: 100%;
}
.form-contact input,
.form-contact select {
    height: 3.5rem;
    background: #E5E7EB;
    border-radius: 8px;
    font-family: 'Regular',sans-serif;
    font-size: 1.2rem;
    color: #394150;
    border: 1px solid #D2D5DA;
    outline: none;
    padding: 0 .5em;
}
.form-contact label {
    font-family: 'Regular', sans-serif;
    font-weight: 600;
    color: #394150;
}

.button-contact button {
    color: #FFFFFF;
    background-color: #1D1D1F;
    width: 100%;
    height: 3em;
    border-radius: 10px;
    font-family: 'Medium', sans-serif;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}
.title-contact {
    font-family: 'Medium', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}
@media (max-width:1200px){
    .div-postal-code {
        width: 50%;
    }
}
@media (max-width:985px) {
    .item {
        grid-template-columns: 1fr 7rem 1fr;
    }

}
@media  (max-width:900px) {
    .checkout-body {
        flex-direction: column;
    }
    .item {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .left {
        border-radius: 1em 1em 0 0;
        height: auto;
    }
    .right {
        border-radius: 0 0 1em 1em;
        height: auto;
    }
    .div-postal-code {
        width: 100%;
    }
}

@media (max-width:600px){
    .div-postal-code {
        width: 50%;
    }
    .item {
        display: grid;
        grid-template-columns: 1fr 7rem 1fr;
        gap: .7em;
    }
    .container-image-item{
        width: 6rem;
        height: 6rem;
    }
    
}
@media (max-width:450px){
    .button-coupon button{
        width: max-content;
        padding: 0 .5em;
    }
}